  <div class="row" id="landing-image">
    <div class="title1">
      <h1 id="title">WELCOME TO TRAZAPP</h1>
    </div>
    <div class="title2">
      <h2 id="title">Control, track and manage transport. Easy and powerfull.</h2>
    </div>
  </div>
  <div>
    <div class="row">
      <h1 id="landing-titles">Product</h1>
    </div>

  </div>

  <div class="image-container">
    <div class="row">
      <img src="/assets/webapp.png" alt="web app" class="img-responsive center-block" id="web-app-image" />
    </div>
  </div>

  <div>
    <div class="row">
      <div class="col-md-3">
        <i class="fa fa-location-arrow fa-5x color"></i>
        <h3>Smart Traceability</h3>
        <p>
          Trace what you need with only a smartphone. Control all you daily deliveries, tracking position,
          generating and scanning QR codes, changing the delivery state, ...

        </p>
      </div>
      <div class="col-md-3">
        <i class="fa fa-bar-chart fa-5x color"></i>
        <h3>Metrics</h3>
        <p>
          Thanks to the data sent from the Smartphone the company receives key KPI’s to help in the decision making process


        </p>
      </div>
      <div class="col-md-3">
        <i class="fa fa-map-marker fa-5x color"></i>
        <h3>Product Tracking</h3>
        <p>
          We provide a database management service with a bar code coding of the load to allow the full traceability of transported items.
          The control, and management becomes easier for the operations department


        </p>
      </div>

      <div class="col-md-3">
        <i class="fa fa-street-view fa-5x color"></i>
        <h3>Fleet Control</h3>
        <p>
          We analyze continuously our clients' transport system, improving timings (ETA) and offering smarter scheduling. The improvement is constant and takes into account the real traffic time and incidences, thus providing great accuracy and maneuverability.
          Driver control and tracking.


        </p>
      </div>

    </div>
  </div>

  <div class="row">
    <h1 id="landing-titles">Pricing</h1>
  </div>

  <div class="row">
    <div class="col-md-4 box-border">
      <div class="header header-pricing">
        <h3 class="pricing-title">Free</h3>
      </div>
      <div class="price-box">
          <ul><h2 id="title">0€</h2></ul>
          <ul><h5 id="title">/month</h5></ul>
      </div>
    </div>
    <div class="col-md-4 box-border">
      <div class="header header-pricing">
        <h3 class="pricing-title">Basic Plan</h3>
      </div>
      <div class="price-box">
          <ul><h2 id="title">30€</h2></ul>
          <ul><h5 id="title">/month</h5></ul>
      </div>
    </div>
    <div class="col-md-4 box-border">
      <div class="header header-pricing">
        <h3 class="pricing-title">Enterprise Plan</h3>
      </div>
      <div class="price-box">
          <ul><h2 id="title">Contact Us</h2></ul>
          <ul><h5 id="title">Complete Plan</h5></ul>
      </div>
    </div>
  </div>

  <div class="row">
    <h1 id="landing-titles">Contact Us</h1>
  </div>
  <form id="contact-form" method="post" action="contact.php" role="form">

      <div class="messages"></div>

      <div class="controls">

          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_name">Firstname *</label>
                      <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_lastname">Lastname *</label>
                      <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_email">Email *</label>
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_phone">Phone</label>
                      <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="form_message">Message *</label>
                      <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-12">
                  <input type="submit" class="btn btn-success btn-send" value="Send message">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <p class="text-muted"><strong>*</strong> These fields are required.</p>
              </div>
          </div>
      </div>

  </form>
