  <div class="container-fluid image-container" id="landing-image">
    <div class="titles">
      <h1 id="title">WELCOME TO TRAZAPP</h1>
      <h2 id="title">Control, track and manage transport. Easy and powerfull.</h2>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <i class="fa fa-location-arrow fa-5x color"></i>
        <h3>Smart Traceability</h3>
        <p>
          Trace what you need with only a smartphone. Control all you daily deliveries, tracking position,
          generating and scanning QR codes, changing the delivery state, ...

        </p>
      </div>
      <div class="col-md-6">
        <i class="fa fa-map fa-5x color"></i>
        <h3>Client peace</h3>
        <p>
          Give real time information to the client. Locate all the shipments at every time. Control the pricing of each expedition
          and get daily statistics. Direct connection to the shipping company.


        </p>
      </div>

    </div>
  </div>

  <div class="container-fluid image-container">
    <div class="row">
      <img src="/assets/webapp.png" alt="web app" class="img-responsive center-block" id="web-app-image" />
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-location-arrow fa-5x color"></i>
        <h3>Metrics</h3>
        <p>
          Thanks to the data sent from the Smartphone the company receives key KPI’s to help in the decision making process


        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-map fa-5x color"></i>
        <h3>Product Traceability</h3>
        <p>
          We provide a database management service with a bar code coding of the load to allow the full traceability of transported items.
          The control, and management becomes easier for the operations department


        </p>
      </div>

      <div class="col-md-4">
        <i class="fa fa-map fa-5x color"></i>
        <h3>Fleet Control</h3>
        <p>
          We analyze continuously our clients' transport system, improving timings (ETA) and offering smarter scheduling. The improvement is constant and takes into account the real traffic time and incidences, thus providing great accuracy and maneuverability.
          Driver control and tracking.


        </p>
      </div>

    </div>
  </div>
